<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .container {
            padding: 20px
        }

        #kichhoat {
            padding: 8px 12px;
            color: white;
            background: #65d1e6;
            border-radius: 10px;
            margin-top: 15px;
            display: inline-block;
        }

        a {
            color: #65d1e6;
            text-decoration: none;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>Yêu là đủ shop</h2>
        <h3>Kích hoạt tài khoản</h3>
        <div>Xin Chào {{name}}, {{name}} đã tạo một tài khoản tại <a
                href="http://tranvobaotran.herokuapp.com/">tranvobaotran shop</a> Xin hãy kích hoạt tài khoản và thiết
            lập mật khẩu.</div>
        <a href="http://tranvobaotran.herokuapp.com" id="kichhoat"> Kích hoạt tài khoản</a>
    </div>
</body>

</html>